.header{
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    padding: 30px;
    width: 100%;
}
socialmedia > a{
    padding: 0 30px;
}
.socialmedia > a > span{
    height: 60px;
    width: 60px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.3s all;
    opacity:0.9;
    color:black;
}
.socialmedia > a > span:hover{
    background-color: cadetblue;
}
.column{
    width: 400px;
    float: left;
}
.sidebar{
    width: 35%;
    float: right;
    background-color: burlywood;
    height: 500px;
}
#center{
    background-color: cornflowerblue;
    padding: 0.7%;
}
.container{
    width: 550px;
    float:left;
}
#one{
    border: 3px solid blueviolet;
    padding: 8px;
    margin: 20px;
    background-color: cornsilk;
    font-family: sans-serif;
}
#two{
    border: 2px solid rebeccapurple;
    padding: 8px;
    margin: 20px;
    background-color: darkcyan;
    color:black;
}