.header{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.column{
    width: 400px;
    float: left;
}
.sidebar{
    width: 35%;
    float: right;
    background-color: burlywood;
    height: 500px;
}
#center{
    background-color: cornflowerblue;
    padding: 0.7%;
}
.container{
    width: 600px;
    float:left;
}
#one{
    border: 2px solid blueviolet;
    padding: 8px;
    margin: 20px;
    background-color: cornsilk;
}