.header{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.column{
    width: 400px;
    float: left;
}
.sidebar{
    width: 35%;
    float: right;
    background-color: burlywood;
    height: 500px;
    padding:;
}
#center{
    background-color: cornflowerblue;
    padding: 1%;
}